<h1 class="h1">Inventories</h1>

<div class="relative overflow-x-auto shadow rounded-md">
  <table class="w-full pb-4 text-sm text-left table-auto text-zinc-500">
    <tbody>
      <%= render @inventories %>
    </tbody>
  </table>
</div>
<div class="flex justify-end mt-2">
  <%= button_to new_inventory_path, method: :get do %>
    <div class="flex items-center justify-center px-4 py-4 text-white bg-black rounded-full flex-center align-center hover:black-100">
      <span class="material-icons">add</span>
    </div>
  <% end %>
</div>
