<%= button_to url, method: :get, id: "add_#{model_name}" do %>
  <div class="top-[88%] left-[82%] sm:left-[88%] fixed flex items-center justify-center px-4 py-4 text-white bg-black rounded-full shadow-2xl flex-center align-center hover:opacity-80">
    <span class="material-icons">add</span>
  </div>
<% end %>
