<h1 class="h1">Locations</h1>

<div class="relative overflow-x-auto">
  <table class="pb-4 mx-auto my-0 text-sm text-left shadow table-auto rounded-md text-zinc-500">
    <thead class="text-xs uppercase text-zinc-700 bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 w-36">Name</th>
        <th scope="col" class="px-6 py-3 w-52">Address</th>
        <th scope="col" class="w-40 px-6 py-3">City</th>
        <th scope="col" class="px-6 py-3 w-72">Country</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @locations %>
    </tbody>
  </table>
</div>

<%= render "shared/fab", url: new_inventory_location_path, model_name: "location" %>
